<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>C贸digo</th>
        <th>Nombre</th>
        <th>Localizada</th>
        <th>Animales</th>
        <th>Creada por</th>
        <th>Fecha Creaci贸n</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for explotation in explotations %}
        <tr>
            <td>{{ explotation.code }}</td>
            <td>{{ explotation.name }}</td>
            <td>{{ explotation.localization }}</td>
            <td>{{ explotation.animal.count }}</td>
            <td>{{ explotation.createdBy }}</td>
            <td>{{ explotation.createdAt|date('d-m-Y') }}</td>
            <td>
                {% include 'explotations/Actions/dropdownButton.html.twig' %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>C贸digo</th>
        <th>Nombre</th>
        <th>Localizada</th>
        <th>Animales</th>
        <th>Creada por</th>
        <th>Fecha Creaci贸n</th>
        <th>Acciones</th>
    </tr>
    </tfoot>
</table>