{% set route = app.request.attributes.get('_route') %}

<ul class="sidebar-menu" data-widget="tree">
    {#
    #################################################################################
       DASHBOARD
    ##################################################################################
    #}
    <li class="header">PÁGINA PRINCIPAL</li>
    <li  {% if route == 'index_dashboard' %} class="active"{% endif %}>
        <a href="{{ path('index_dashboard') }}"><i class="fas fa-home"></i> <span class="m12">Home</span></a>
    </li>
    {#
    #################################################################################
       MOVIMIENTOS
    ##################################################################################
    #}
    <li class="header">Registros</li>
    <li class="treeview {% if route in ['index_register'] %} active menu-open{% endif %}">
        <a href="#">
            <i class="fas fa-arrow-right"></i><span class="m12">Entradas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li  {% if route == 'index_register' %} class="active"{% endif %}>
                <a href="{{ path('index_register') }}"><i class="fas fa-eye"></i> <span class="m12"></span>Ver</a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-arrow-left"></i><span class="m12">Salidas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li {% if route == 'index_outregisters' %} class="active"{% endif %}>
                <a href="{{ path('index_outregisters') }}"><i class="fas fa-eye"></i><span class="m12">Ver</span></a>
            </li>
        </ul>
    </li>

    <li {% if route == 'index_annexes' %} class="active"{% endif %}>
        <a href="{{ path('index_annexes') }}"><i class="fas fa-tag active"></i><span class="m12">Marcados</span></a>
    </li>

    {#
     #################################################################################
        GRANJAS
     ##################################################################################
    #}
    <li class="header">GRANJAS</li>
    <li {% if route == 'index_explotations' %} class="active"{% endif %}>
        <a href="{{ path('index_explotations') }}"><i class="fas fa-warehouse active"></i> <span class="m12">Explotaciones</span></a>
    </li>

    <li {% if route == 'index_animals' %} class="active"{% endif %}>
        <a href="{{ path('index_animals') }}"><i class="fas fa-paw active"></i> <span class="m12">Animales</span></a>
    </li>

    {#
     #################################################################################
        PARTNERS
     ##################################################################################
    #}
    <li class="header">PARTNERS</li>
    <li {% if route == 'index_explotations' %} class=""{% endif %}>
        <a href="{{ path('index_explotations') }}"><i class="fas fa-money "></i> <span class="m12">Compradores</span></a>
    </li>
    <li {% if route == 'index_animals' %} class=""{% endif %}>
        <a href="{{ path('index_animals') }}"><i class="fas fa-briefcase "></i> <span class="m12">Proveedores</span></a>
    </li>
    <li {% if route == 'index_animals' %} class=""{% endif %}>
        <a href="{{ path('index_animals') }}"><i class="fas fa-truck "></i> <span class="m12">Transporters</span></a>
    </li>

    {#
     #################################################################################
        DATOS
     ##################################################################################
    #}
    <li class="header">DATOS</li>
    <li>
        <a href="{{ path('index_search') }}"><i class="fa fa-search "></i> <span>Búsquedas</span></a>
    </li>
    {#
    #################################################################################
       CONFIGURACIÓN
    ##################################################################################
    #}
    <li class="header">CONFIGURACIÓN</li>
    <li class="treeview  {% if route in ['index_race'] %} active menu-open{% endif %}">
        <a href="#">
            <i class="fas fa-dashboard"></i> <span>Configuración</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu ">
            <li {% if route == 'index_race' %} class="active"{% endif %}>
                <a href="{{ path('index_race') }}"><i class="fa fa-circle-o"></i> Razas</a></li>
        </ul>
        {% if is_granted('ROLE_SUPERADMIN') %}
            <ul class="treeview-menu ">
                <li {% if route == 'index_users' %} class="active"{% endif %}>
                    <a href="{{ path('index_users') }}"><i class="fa fa-circle-o"></i> Usuarios</a></li>
            </ul>
        {% endif %}
    </li>

</ul>