{% set route = app.request.attributes.get('_route') %}

<ul class="sidebar-menu" data-widget="tree">
    {#
    #################################################################################
       DASHBOARD
    ##################################################################################
    #}
    <li class="header">PÁGINA PRINCIPAL</li>
    <li  {% if route == 'index_dashboard' %} class="active"{% endif %}>
        <a href="{{ path('index_dashboard') }}"><i class="fa fa-book"></i> <span>Dashboard</span></a>
    </li>
    {#
    #################################################################################
       MOVIMIENTOS
    ##################################################################################
    #}
    <li class="header">MOVIMIENTOS</li>
    <li class="treeview {% if route in ['index_register'] %} active menu-open{% endif %}">
        <a href="#">
            <i class="fa fa-arrow-right"></i> <span>Entradas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li  {% if route == 'index_register' %} class="active"{% endif %}>
                <a href="{{ path('index_register') }}"><i class="fa fa-circle-o"></i>Ver</a>
            </li>
            <li class=""><a href="index.html"><i class="fa fa-circle-o"></i>Manuales</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Automáticas</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-arrow-left"></i> <span>Salidas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{{ path('index_register') }}"><i class="fa fa-circle-o"></i>Ver</a>
            </li>
            <li class=""><a href="index.html"><i class="fa fa-circle-o"></i>Manuales</a></li>
        </ul>
    </li>

    <li {% if route == 'index_annexes' %} class="active"{% endif %}>
        <a href="{{ path('index_annexes') }}"><i class="fa fa-book active"></i> <span>Annexos</span></a>
    </li>

    {#
     #################################################################################
        GRANJAS
     ##################################################################################
    #}
    <li class="header">GRANJAS</li>
    <li {% if route == 'index_explotations' %} class="active"{% endif %}>
        <a href="{{ path('index_explotations') }}"><i class="fa fa-book active"></i> <span>Explotaciones</span></a>
    </li>

    <li {% if route == 'index_animals' %} class="active"{% endif %}>
        <a href="{{ path('index_animals') }}"><i class="fa fa-book active"></i> <span>Animales</span></a>
    </li>

    {#
     #################################################################################
        PARTNERS
     ##################################################################################
    #}
    <li class="header">PARTNERS</li>
    <li {% if route == 'index_explotations' %} class=""{% endif %}>
        <a href="{{ path('index_explotations') }}"><i class="fa fa-book "></i> <span>Compradores</span></a>
    </li>
    <li {% if route == 'index_animals' %} class=""{% endif %}>
        <a href="{{ path('index_animals') }}"><i class="fa fa-book "></i> <span>Suppliers</span></a>
    </li>
    <li {% if route == 'index_animals' %} class=""{% endif %}>
        <a href="{{ path('index_animals') }}"><i class="fa fa-truck "></i> <span>Transporters</span></a>
    </li>

    {#
     #################################################################################
        DATOS
     ##################################################################################
    #}
    <li class="header">DATOS</li>
    <li>
        <a href="{{ path('index_search') }}"><i class="fa fa-search "></i> <span>Búsquedas</span></a>
    </li>
    {#
    #################################################################################
       CONFIGURACIÓN
    ##################################################################################
    #}
    <li class="header">CONFIGURACIÓN</li>
    <li class="treeview  {% if route in ['index_race'] %} active menu-open{% endif %}">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Configuración</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu ">
            <li><a href="index.html"><i class="fa fa-circle-o"></i>Entradas</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Salidas</a></li>

            <li {% if route == 'index_race' %} class="active"{% endif %}>
                <a href="{{ path('index_race') }}"><i class="fa fa-circle-o"></i> Razas</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Movimientos</a></li>
        </ul>
    </li>

</ul>