<div class="table-responsive">
    <table id="{{ code }}" class="annex-table table table-bordered" style="width:100%">
        <thead>
        <tr>
            <th><input type="checkbox" name="select_all" value="1" class="select-all" ></th>
            <th>Crotal</th>
            <th>Número interno</th>
            <th>Explotación</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        {% for annex in annexes %}
            {% set expCode = code %}
            {% set expName = annex.animal.explotation.name %}

            <tr id="row_{{ annex.id }}" class="pointable">
                <td></td>
                <td>{{ annex.animal.crotal }}</td>
                <td>{{ annex.animal.internalnum }}</td>
                <td data-code="{{ expCode }}">{{ expName}}({{ expCode }}) </td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('annex_delete') }}"
                           class="btn btn-default js-remove-annex"
                           data-id="{{ annex.animal.id }}"
                        >
                            Borrar
                            <span class="js-spinner">
                            &nbsp;<i class="fa fa-spinner fa-spin hidden"></i>
                        </span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th>Crotal</th>
            <th>Número interno</th>
            <th>Explotación</th>
            <th>Acciones</th>
        </tr>
        </tfoot>
    </table>
</div>
