<div class="modal fade" id="modal-add-inc-register" style="display: none;">
    <div class="modal-dialog">
        <form role="form" id="add-inc-register-form" method="post" action="{{ path('register_create') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Nuevo Registro de entrada</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inc_reg_intype">Explotación</label>
                                    <select id="inc_reg_explotation" class="js-inc_expl form-control" name="inc_reg_expl">
                                        <option value=""></option>
                                        {% for explotation in explotations %}
                                            <option value="{{explotation.id}}">{{ explotation.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="help-block hidden"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inc_reg_procedence">Procedencia</label>
                                    <select class="form-control" id="inc_reg_procedence" name="inc_reg_procedence">
                                        <option value=""></option>
                                        {% for code ,country in countries %}
                                            <option value="{{code}}">{{ country }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inc_reg_intype">Tipo</label>
                                    <select id="inc_reg_intype" class="js-inc_intype form-control" name="inc_reg_intype">
                                        <option value=""></option>
                                        {% for type in inTypes %}
                                            <option value="{{type.id}}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="help-block hidden"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inc_reg_supplier">Proveedor</label>
                                    <select class="form-control" id="inc_reg_supplier" name="inc_reg_supplier">
                                        <option value=""></option>
                                        {% for supplier in suppliers %}
                                            <option value="{{ supplier.id }}">{{ supplier.companyName}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inc_reg_guide_num">Número de guia</label>
                                    <input type="text" class="form-control" name="inc_reg_guide_num">

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inc_reg_guide_num">Total Animales Guia</label>
                                    <input type="number" class="form-control" name="inc_reg_guide_total_animals">

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="inc_reg_guide_date">Fecha guia</label>
                                    <input type="date" class="form-control" name="inc_reg_guide_date">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="inc_reg_expl_origin">Explotacion origen</label>
                                    <input type="text" class="form-control" name="inc_reg_expl_origin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary js-create-incregister">
                        Guardar
                        <span class="js-spinner">
                            <i class="fa fa-spinner fa-spin hidden"></i>
                        </span>
                    </button>
                </div>
            </div> <!-- /.modal-content -->
        </form>
        <!-- /. form -->
    </div>
    <!-- /.modal-dialog -->
</div>