<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label for="scanner">Min Edad (meses):</label>
                <input type="number" class="form-control" id="min_old">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label for="scanner">Max Edad (meses):</label>
                <input type="number" class="form-control" id="max_old">
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="exp-animal-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Crotal</th>
            <th>#Interno</th>
            <th>Nacimiento</th>
            <th>Edad(meses)</th>
            <th>Edad(dias)</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in explotation.animal %}
            <tr>
                <td>{{ animal.crotal }}</td>
                <td>{{ animal.internalnum }}</td>
                <td>{{ animal.birthdate|date('d-m-y') }}</td>
                <td>{{ animal.birthdate|calculateMonths }} </td>
                <td>{{ animal.birthdate|calculateDays }} </td>
                <td>
                    {% set isAnnexed = animal.annex %}
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button"
                                class="btn {{ isAnnexed ? 'btn-warning disabled': 'btn-default' }} js-annex-animal"
                                data-href="{{ path('annex_create') }}"
                                data-id="{{ animal.id }}"
                                >
                                <span class="glyphicon glyphicon-tag"
                                      data-toggle="tooltip"
                                      data-placement="left"
                                      title="{{ isAnnexed ? 'Crotal Marcado': 'Marcar Crotal' }}">
                                </span>

                        </button>
                        <button type="button" class="btn btn-default">
                            <a href="{{ path('edit_animal', {'id':animal.id}) }}#ficha">
                                <span class="glyphicon glyphicon-edit"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Ver/Editar Crotal"></span>
                            </a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Crotal</th>
            <th>#Interno</th>
            <th>Nacimiento</th>
            <th>Edad(meses)</th>
            <th>Edad(dias)</th>
            <th>Acciones</th>
        </tr>
        </tfoot>
    </table>
</div>
