<div class="col-xs-12 col-sm-6 col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4>Información</h4>
        </div>
        <form role="form" action="{{ path('save_explotation') }}" method="POST" id="expl_save_form">
            <div class="box-body">
                <div class="form-group col-xs-6">
                    <label for="exp_name">Nombre</label>
                    <input type="text"
                           class="form-control editable"
                           id="exp_name"
                           placeholder="ex. Trillo"
                           name="exp_name"
                           value="{{ explotation.name }}" disabled>
                    <span class="help-block hidden"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label for="exp_code">Código</label>
                    <input type="text"
                           class="form-control editable"
                           id="exp_code"
                           placeholder="ej: EXP_XXXXXX"
                           name="exp_code"
                           value="{{ explotation.code }}" disabled>
                    <span class="help-block hidden"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label for="exp_loca">Localización</label>
                    <input type="text"
                           class="form-control editable"
                           id="exp_loca"
                           placeholder="ej: 787298374923843"
                           name="exp_loca"
                           value="{{ explotation.localization }}" disabled>
                    <span class="help-block hidden"></span>
                </div>
                <div class="form-group col-xs-6">
                    <label for="exp_group">Grupo</label>
                    <span class="help-block hidden"></span>
                    <select class="form-control editable" id="exp_group" name="exp_group" disabled>
                        <option value=""></option>
                        {% for group in groups %}
                            <option value="{{ group.id}}"
                                    {% if explotation.group is not null and explotation.group.id == group.id %} selected {% endif %}>
                                {{group.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <input type="hidden"
                       value="{{ explotation.id }}"
                       name="exp_id"
                >
                <button type="submit"
                        class="btn btn-primary pull-right js-save-explotation">
                    <span class="js-spinner"></span>
                    Guardar
                </button>
                <button type="button"
                        data-type="info"
                        class="btn btn-primary pull-right js-edit-info-exp">
                    Editar
                </button>
                <a href="{{ path('index_explotations') }}" class="">
                    <span><i class="fa fa-arrow-left fa-2x"></i></span>
                </a>
            </div>
        </form>
    </div>
</div>