<div class="small-box {{ item.colorClass }}">
    <div class="inner">
        <h3>{{ item.totals }}</h3>

        <p>{{ item.description }}</p>
    </div>
    <div class="icon">
        <i class="ion {{ item.icon }}"></i>
    </div>
    <a href="{{ item.link|default('#') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>